
<h1 class="tituloHome">Listado de productos</h1>
<ul class="products-list">
    {{#each products}}
        <li class="product-item">
            <h2 class="product-name">{{this.name}}</h2>
            <p class="product-description">{{this.description}}</p>
            <p class="product-price"> <strong>Precio: </strong> ${{this.price}}</p>
            <p class="product-stock"><strong>Stock: </strong>  {{this.stock}} unidades</p>
            <p class="product-category"><strong>Categoría: </strong>  {{this.category}}</p>
            <img src="img/{{thumbnails}}" alt="{{name}}" class="product-img">
        </li>
    {{/each}}
</ul>
